name: Build Android (Unsigned APK)
on: workflow_dispatch # Adds a "Run Workflow" button in GitHub UI

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24 # 24 is super new, 20 is the stable LTS bradar
          cache: 'npm'

      - name: Setup Java (JDK 17)
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Dependencies
        run: npm ci --legacy-peer-deps

      - name: Prebuild (Generate Native Android Code)
        run: npx expo prebuild --platform android --clean

      - name: Build Unsigned APK
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug --no-daemon

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Unsigned-Android-App
          path: android/app/build/outputs/apk/debug/app-debug.apk